body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefefe;
}

header {
    background-color: #FF0000;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #007bff;
}

ul {
    list-style-type: disc;
}

footer {
    background-color: #FFD300;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
